@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --white: #FFFFFF;
    --black: #00000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.producto-card{
    width: 240px;
}
.producto-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;/*no se distorciona las propiedades de la imagen*/
}
.produc-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.produc-info figure img{
    width: 35px;
    height: 35px;
    margin: 0;
}
.produc-info figure{
    margin: 0;
}

.produc-info div p:nth-child(1){
   font-weight: bold;
   font-size: var(--md);
   margin-top: 0;
   margin-bottom: 4px;
}
.produc-info div p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
 }

@media(max-width:640px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .producto-card{
        width: 140px;
    }
    .producto-card img{
        width: 140px;
        height: 140px;
    }
}