@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}
:root{
    --white: #FFFFFF;
    --black: #00000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --text-input-field: #F7F7F7;
}
